body{
    background: url(/assets/img/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.btn-link {
    white-space: normal;
    text-align: left;
}

/* @media */
/* Small */
@media (max-width: 768px) {
}

@media (max-width: 576px) { 

}

